// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-row {
  margin: 10px 0px;
  border-bottom: solid 1px;
  border-color: #dddddd;
  padding-bottom: 20px;

  h4.book-title {
    font-size: 2.5vmin;
  }
}
