// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #F4F5F7;
}

.container {
  background-color: white;
}

.product-box {
  margin: 30px 0px;
}

h4 {
  font-size: 2.5vmin;
}

.btn {
  margin-top: 5px;
}